//main: main.scss

#tripHead {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#cardGuide {
    width: 20rem;
}


.guideExperience {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.card-body {
    padding: 1rem;

    .btn {
        color: white;
    }
}

.card-prenota {
    padding-bottom: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;

}