#francy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;

    .card-img-top {
        border-radius: 5px;
        width: 7.3rem;
        height: 5.6rem;
    }
}