//main: main.scss

.prenotaSection {
    padding-top: 3rem;
    margin: 3rem;
}

.scopri {
    color: #6C757D;
    font-size: 1.3em;
    font-size: italic;
    padding-bottom: 3rem;
}

#head {
    color: black;
}

//fst-italic text-secondary fs-4 pb-5